body {
    background-color: #F2F2F2;
}

.wrapper {
    width: 1350px;
    margin: 0 auto;
    justify-content: center;
}

nav {
    background-color: white;
    margin-top: 20px;
}

.envato_logo {
    width: 15px;
    height: 20px;
}

.envato-head {
    font-size: 22px;
}

.cont_n1 {
    width: 165px;
    height: 38px;
}

.cont_n2 {
    width: 560px;
    height: 40px;
    justify-content: center;
    margin-bottom: 10px;
}

.n1_btn {
    width: 550px;
    display: flex;
    padding: 0px;
    height: 38px;
    background-color: white;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 8px;


}

.items {
    width: 108px;
    height: 34px;
    padding-left: 8px;
}

.search {
    width: 450px;
    height: 34px;
    padding-left: 8px;
    border-left: 1px solid lightgrey;
    justify-content: left;
}

.search_input {
    border: none;
    margin-top: 7px;
    width: 360px;
    height: 20px;

}
.search_input::placeholder {
    border: none;
}
input:focus {
    outline: none;
}

.search_image {
    width: 40px;
}

.search_icon {
    width: 35px;
    height: 35px;

}

.license {
    width: 60px;
}

.pricing {
    width: 60px;
}

.unlimited {
    width: 190px;
    text-align: center;
    height: 38px;
}

.unltd_btn {
    background-color: red;
    padding: 10px 20px;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.signin-avatar {
    width: 20px;
    height: 20px;
}

.sign_in {
    width: 100px;
    text-align: center;
    height: 38px;
}

.container1 {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 20px;
}

.cont_a {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.subhead {
    margin-bottom: 80px;
    font-size: 18px;
    color: lightslategray;
}

.cont_photos {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 70px;

}

.cont_photos1 {
    display: inline-flex;
    gap: 30px;
    margin-bottom: 30px;
}

.cont_photos2 {
    display: inline-flex;
    gap: 30px;
}

.templatez {
    width: 250px;
    height: 167px;
    margin-bottom: 10px;
}

.description {
    margin: 0px;
    line-height: 1.5;
    text-align: left;
}

.descrip {
    text-decoration: none;
    color: blue;
}

.descript {
    text-decoration: none;
    color: #36454F;
    font: bolder;
    font-size: 18px;
}

.bt-press {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    background-color: #e75480;
    color: white;
    border: 2px solid #e75480;
}

.press {
    color: white;
    text-decoration: none;
    font-size: 15px;
}