* {
    padding: 0;
    margin: 0;
}

body {}

.wrapper {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    background-color: #F2F2F2;
}

nav {
    background-color: white;
    padding: 0px 50px;
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px transparent lightgrey;
}

.container1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    padding-top: 20px;
    vertical-align: top;
}

.envat-1 {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.envat-2 {
    color: #70db70;
    text-decoration: none;
    font-weight: 100;
}

.envato_logo {
    width: 20px;
    height: 30px;
}

.envato-head {
    font-size: 24px;
}

.container_n1 {
    width: 190px;
    height: 40px;
}

.container_n2 {
    width: 650px;
    height: 40px;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
    padding: 0px;
    text-align: left;
    border: 1.5px solid lightgray;
    border-radius: 6px;
}

.items {
    width: 108px;
    height: 40px;
    padding-left: 8px;
    background-color: #f6f6f6fa;
}

.items:hover {
    background-color: #a09d9d46;
}

.items-p {
    width: 80px;
    text-align: center;
    margin: 10px;
    line-height: 1.5;
    color: hsla(0, 8%, 3%, 0.5);
}

.items-p:hover {
    color: hsla(0, 8%, 3%, 0.5);
    transition: 1s;
}

.items-p a {
    text-decoration: none;
    color: hsla(0, 8%, 3%, 0.5);
}

.items-p a:hover {
    color: hsla(0, 8%, 3%, 0.5);
}

.search {
    width: 535px;
    height: 40px;
    padding-left: 8px;
    border-left: 1px solid lightgrey;
    justify-content: left;
}

.search_input {
    border: none;
    margin-top: 7px;
    width: 360px;
    height: 30px;
}

.search_input::placeholder {
    border: none;
    color: #b3afaf;
}

input:focus {
    outline: none;
}

.search_image {
    width: 40px;
}

.search_icon {
    width: 37px;
    height: 40px;

}

.license-pricing ul {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 40px;
    width: 160px;
}

.license-pricing li {
    width: 60px;
    list-style: none;
    padding: 8px;
}

.license-pricing a {
    text-decoration: none;
    color: grey;
}

.license-pricing a:hover {
    border: 1px solid #f6f6f6fa;
    padding: 8px;
    background-color: #f6f6f6fa;
    border-radius: 8px;
}

.unlimited {
    width: 255px;
    text-align: center;
    height: 43px;
    border-radius: 4px;
}

.unlimited-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.unlimited-a:hover {
    font-size: 16px;
    transition: 0.1s ease-in;
}

.unlimited_btn:hover {
    cursor: pointer;
    background-color: rgba(193, 3, 60, 0.944);
    border: 1px solid rgba(193, 3, 60, 0.944);
    transition: 0.1s ease-in;
}

.unlimited_btn {
    background-color: rgb(228, 0, 70);
    padding: 12px 20px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 0, 70);
    width: 255px;
    border-radius: 10px;
}

.sign_in ul {
    display: flex;
}

.sign_in li {
    list-style: none;
}

.sign_in a {
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

.sign_in ul:hover {
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #f6f6f6fa;
    padding: 8px;
    background-color: #f6f6f6fa;
    border-radius: 8px;
    align-items: center;
}

.signin-avatar {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.sign_in {
    width: 90px;
    height: 35px;
    justify-content: center;
    height: 38px;
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

.signin-word {
    width: 50px;
    height: 20px;
    font-size: 14px;
    margin-top: 15px;
}

.container2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}

.container2_a {
    display: flex;
}

.container2_a ul {
    display: flex;
    align-items: center;
    /* height: 65px; */
    margin: 0;
    padding: 0;
    height: auto;
}

.container2_a li {
    list-style: none;
    color: #484848;
}

.container2_a li a {
    text-decoration: none;
    color: #484848;
}

.container2_a li a:hover {
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
    /* font-size: 16.5px; */
    color: #484848;
}

.stock-vid {
    width: 100px;
    padding: 23px 8px;
}

.vid-temp {
    width: 120px;
    padding: 23px 8px;
}

.music {
    width: 50px;
    padding: 23px 8px;
}

.sound-effects {
    width: 100px;
    padding: 23px 8px;

}

.graphics-temps {
    width: 135px;
    padding: 23px 8px;

}

.graphics {
    width: 80px;
    padding: 23px 8px;

}

.present-temps {
    width: 155px;
    padding: 23px 8px;

}

.photos {
    width: 60px;
    padding: 23px 8px;

}

.fonts {
    width: 50px;
    padding: 23px 8px;

}

.add-ons {
    width: 80px;
    padding: 23px 8px;

}

.web-temp {
    width: 120px;
    padding: 23px 8px;

}

.mo-re {
    width: 55px;
    padding: 23px 8px;

}

.learn-na {
    width: 70px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: none;
    background-color: white;
    margin-left: 105px;
}

.learn-a {
    text-decoration: none;
}

.learn-sp {
    width: 40px;
    height: 20px;
    margin-top: 25px;
}

.learn-a:hover {
    padding-bottom: 20px;
    border-bottom: 2px solid blue;
    color: #2E3033;
}

.submenu-container2a1 {
    display: none;
}

.container2_a li:hover .submenu-container2a1 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 190px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.submenu-container2a1 ul {
    display: block;
}

.submenu-container2a1 li {
    list-style: none;
    margin: 25px 10px;
}

.container2_a li:hover .submenu-container2a1 ul li a:hover {
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 8px;
    background-color: #f6f6f6fa;
}

.submenu-container2a2 {
    display: none;
    height: auto;
    padding: 0;
}

.container2_a li:hover .submenu-container2a2 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 280px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a2 ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: start;
}

.container2_a li:hover .submenu-container2a2 li {
    list-style: none;
    margin: 20px;
}

.container2_a li:hover .submenu-container2a2 ul li a:hover {
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a2 li:hover {
    cursor: pointer;
}

.davinci {
    padding-bottom: 18px;
    border-bottom: 1px solid #21212129;
}

.submenu-container2a3 {
    display: none;
}

.container2_a li:hover .submenu-container2a3 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 183px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a3 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a3 ul li {
    list-style: none;
    margin: 20px;
}

.container2_a li:hover .submenu-container2a3 li a {
    text-decoration: none;
    border-bottom: none;
    padding: 8px 6px;
}

.container2_a li:hover .submenu-container2a3 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a4 {
    display: none;
}

.container2_a li:hover .submenu-container2a4 {
    display: flex;
    flex: 60% 30% 10%;
    gap: 10px;
    position: absolute;
    margin-top: 23px;
    width: 475px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a4 ul {
    display: block;
    text-align: left;
    margin-left: 10px;
}

.container2_a li:hover .submenu-container2a4 ul li {
    list-style: none;
    margin: 15px 10px;
}

.container2_a li:hover .submenu-container2a4 ul li a {
    text-decoration: none;
    border-bottom: none;
    padding: 6px 8px;
}

.container2_a li:hover .submenu-container2a4 ul li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a5 {
    display: none;
}

.container2_a li:hover .submenu-container2a5 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 240px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a5 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a5 ul li {
    list-style: none;
    margin: 20px;
}

.container2_a li:hover .submenu-container2a5 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a6 {
    display: none;
}

.container2_a li:hover .submenu-container2a6 {
    display: flex;
    flex: 60% 40%;
    gap: 10px;
    position: absolute;
    margin-top: 23px;
    width: 300px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a6 ul {
    display: block;
    text-align: left;
}

.container2_a li:hover .submenu-container2a6 ul li {
    list-style: none;
    margin: 20px;
}

.container2_a li:hover .submenu-container2a6 ul li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    background-color: #f6f6f6fa;
    padding: 6px;
}

.submenu-container2a7 {
    display: none;
}

.container2_a li:hover .submenu-container2a7 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 270px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a7 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a7 ul li {
    list-style: none;
    margin: 20px;
}

.container2_a li:hover .submenu-container2a7 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a8 {
    display: none;
}

.container2_a li:hover .submenu-container2a8 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 210px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a8 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a8 ul li {
    list-style: none;
    margin: 25px 20px;
}

.container2_a li:hover .submenu-container2a8 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a9 {
    display: none;
}

.container2_a li:hover .submenu-container2a9 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 175px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a9 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a9 ul li {
    list-style: none;
    margin: 25px 20px;
}

.container2_a li:hover .submenu-container2a9 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a10 {
    display: none;
}

.container2_a li:hover .submenu-container2a10 {
    display: block;
    position: absolute;
    margin-top: 23px;
    width: 220px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}

.container2_a li:hover .submenu-container2a10 ul {
    text-align: left;
    display: block;
}

.container2_a li:hover .submenu-container2a10 ul li {
    list-style: none;
    margin: 25px 20px;
}

.container2_a li:hover .submenu-container2a10 li a:hover {
    text-decoration: none;
    border-bottom: none;
    border: 1px solid #f6f6f6fa;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: #f6f6f6fa;
}

.submenu-container2a11 {
    display: none;
}

.submenu-container2a11_a {
    display: none;
}

.submenu-container2a11_b {
    display: none;
}

.submenu-container2a11_c {
    display: none;
}

.submenu-container2a11_d {
    display: none;
}

.submenu-container2a11_e {
    display: none;
}

.container2_a li:hover .submenu-container2a11 {
    display: block;
    position: absolute;
    left: 55rem;
    margin-top: 23px;
    width: 540px;
    height: 320px;
    border: 2px solid white;
    background-color: white;
    border-radius: 6px;
}
.container2_a li:hover .submenu-container2a11 .containerul {
    border-right: 1px solid lightgrey;
    display: block;
    text-align: left;
    margin: 20px 15px;
    width: 180px;
    height: 300px;
}
.container2_a li:hover .submenu-container2a11 .containerul li {
    padding: 8px;
}
.container2_a li:hover .submenu-container2a11 li {
    padding: 8px;
}
.cmstemplates:hover .submenu-container2a11_a {
    display: block;
    position: absolute;
    left: 180px;
    top: 25px;
    height: auto;
    width: 350px;
    margin-left: 25px;
}
/* .container2_a li:hover .submenu-container2a11 .submenu-container2a11_a {
    display: flex;
    position: absolute;
    left: 180px;
    top: 25px;
} */
.cmstemplates:hover .submenu-container2a11_aa {
    display: flex;
    padding: 0;
}
.submenu-container2a11_aa .first-ul li {
    width: 165px;
    padding: 8px 2px;
}
.submenu-container2a11_aa .first-ul {
    display: block;
    text-align: left;
}
.submenu-container2a11_aa .second-ul li{
    width: 80px;
    padding: 8px 2px;
}
.submenu-container2a11_aa .second-ul{
    display: block;
    text-align: left;
}




.header {
    margin-top: 100px;
}

.container_a {
    text-align: center;
    margin-top: 135px;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

.subhead {
    margin: 0px;
    font-size: 18px;
    color: lightslategray;
}

.introduction {
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_photos {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 70px;
    width: 1140px;
}

.container_photos1 {
    display: inline-flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.container_photos2 {
    display: inline-flex;
    gap: 30px;
}

.templatez {
    width: 250px;
    height: 167px;
    margin-bottom: 10px;
}

.description {
    margin: 0px;
    line-height: 1.5;
    text-align: left;
}

.descrip {
    text-decoration: none;
    color: blue;
}

.descript {
    text-decoration: none;
    color: #36454F;
    font: bolder;
    font-size: 18px;
}

.btn-press {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    background-color: #e75480;
    color: white;
    border: 2px solid #e75480;
    margin-bottom: 80px;
}

.press {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.containerb-wrap {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.h2-containerb {
    text-align: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.container_bb {
    width: 255px;
    line-height: 1.5;
}

.containerb-wrap {
    gap: 30px;
}

.container_b {
    background-color: white;
    padding: 80px 0px;
}

.assets_image,
.commercial_license,
.cancel_icon {
    width: 70px;
    height: 70px;
}

.unltd_downloads {
    width: 66px;
    height: 70px;
}

.h2-containerc {
    text-align: center;
    margin-bottom: 60px;
    font-size: 35px;
}

.containerc_wrap {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.container_cc {
    margin: 0 auto;
    justify-content: center;
    width: 260px;
    margin: 0px;
    border: 1px solid white;
    background-color: white;
    height: 315px;
    border-radius: 10px;
    position: relative;
}

.container_c {
    padding: 80px 0px;
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.container_cca {
    width: 180px;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 60px;

}

.container_ccaimg1 {
    width: 166px;
    height: 93px;
    position: absolute;
    align-items: center;
}

.container_ccaimg2 {
    width: 166px;
    height: 108px;
    margin: 0 auto;
    justify-content: center;
}

.container_ccaimg3 {
    width: 166px;
    height: 75px;
    margin: 0 auto;
    justify-content: center;
}

.container_ccaimg4 {
    width: 166px;
    height: 110px;
    margin: 0 auto;
    justify-content: center;
}

.individual-containerc {
    height: 93px;
    width: 166px;
}

.students-containerc {
    height: 108px;
    width: 166px;
}

.teams-containerc {
    height: 75px;
    width: 166px;
}

.buildings-containerc {
    height: 110px;
    width: 166px;
}

.containerc-btn {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 80px;
}